# {{ ansible_managed }}

HISTORY={{ sysstat_history_days }}
COMPRESSAFTER={{ sysstat_compress_days }}
SADC_OPTIONS="{{ sysstat_options }}"
SA_DIR="{{ sysstat_logdir }}"
ZIP="{{ sysstat_compression_program }}"